<div id="container_{{sensor}}" style="width:100%; height:400px;"></div>
<script>
    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            $.getJSON("/api/sensors/{{sensor}}?minutes={{minutes}}", function(result){
                $("#container_{{sensor}}").highcharts({
                    chart: {
                        type: 'spline',
                        zoomType: 'x',
                        marginRight: 10,
                        events: {
                            load: function () {

                                // update every 30 seconds
                                var series = this.series[0];
                                setInterval(function () {
                                    $.getJSON("/api/sensors/{{sensor}}?minutes=0.5", function(updates){
                                       updates.forEach(function(update){
                                           var x,y;
                                           var updateO = {
                                               x: update[0],
                                               y: update[1]
                                           };
                                           console.log(updateO);
                                           series.addPoint([updateO.x, updateO.y], true, true);
                                       });
                                    });
                                }, 30000);
                            }
                        }
                    },
                    title: {
                        text: '{{title}}'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: '{{type}}'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1
                        }]
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                                'Click and drag in the plot area to zoom in' :
                                'Pinch the chart to zoom in'
                    },

                    plotOptions: {
                        series: {
                            animation: false,
                            states: {
                                hover : {
                                    enabled: false
                                }
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    tooltip: {
                        enabled: false
                    },
                    legend: {
                        enabled: true
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: '{{type}}',
                        data: result
                    }]
                });
            });

        });
    });
</script>